/* -------------------ESTRUCTURA------------------- */

* {
    Margin:0;
    padding:0;
    
 }

 .body{
    background-color: whitesmoke;
    
    
}
 
 .header{
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: #98C5E9;
    color: #1D1838;
 }

 .innerDiv {
    display: table;
    margin: 0 auto;
    padding-top: 10px;
    font-family: 'Anton', serif;
    
    }
    
    .outerDiv {
    width:100%;
    font-family: 'Anton', serif;
    }

.nav{
        width: 100%;
        height: 100%;
        background-color: #98C5E9;
        color: #1D1838;
        
        
     }

.main{
    width: 100%;
    height: 100%;
 }

.section{
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
 }

.footer{
    width: 100%;
    height: 100px;
    padding-top: 10px;
    background-color: #98C5E9;
    
    
    
 }

/* -------------------CONTACT------------------- */
.form {
    width: 50vw;
    height: 60vh;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;

    
}
#li-form {
    list-style:none;

}


#reset {
    padding: 10px 10px 10px 10px;

}

#enviar {
    padding: 10px 10px 10px 10px;
}

.fieldset {
    padding: 10px 10px 10px 10px;
    font-family: 'Anton', serif;
    color: #1D1838;
    
}

.legend {
    padding: 10px 10px 10px 10px;
    font-family: 'Anton', serif;
    color: #1D1838;
    font-size: 20px;
}

/* -------------------BOTONERA y LOGO------------------- */
#logo-header {
    width: 70px; 
    height: 70px
}

#menu-outer {
	height: auto;
    

}

.boton {
    font-family: 'Anton', serif;
    color: #1D1838;
    font-size: 25px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #98C5E9;
    border: 2px solid;
    border-color: #98C5E9;
    position: relative;
  }
  .boton:before {
    font-family: 'Anton', serif;
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 4s ease;
  }
  .boton:hover:before {
  width: 100%;
  }

ul#horizontal-list {
	list-style: none;
	padding-top: 10px;
    font-size: 1.5rem;
    color: #1D1838;
    
	}
	ul#horizontal-list li {
		display: inline;
	}

.container a {
        color: #1D1838;
        text-decoration: none;
      }

/* -------------------BOTONERA SIN ANIMACIÓN------------------- */

      .botonera {
        display: table;  
        margin: 0 auto;
        color: #1D1838;
    }
    
    #boton-indiv {
        font-family: 'Anton', serif;
        padding-left: 20px;
        padding-right: 20px;
    }

/* -------------------CUERPO------------------- */
#banner-previa {
    width: 646px; 
    height: 367px;
}

#banner-fixture {
    width: 646px; 
    height: 209px;
}

#titulo {
    font-family: 'Anton', serif;
    font-size: 20px;
    color: #1D1838;

}

#rrss-logos {
    width: 243; 
    height: 43px
}

.container_flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 10px;
    width: 50vw;
    height: 100vh;
    
    


}

.container_flex_staff{
    width: 20%;
    margin: 0 auto;
    border: 2px solid whitesmoke;
    text-align: center;
    


}
    
.cuerpo-historia {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}

/* -------------------PIE------------------- */


#footer-home {
    font-family: 'Anton', serif;
    font-size: 12px;
    color: #1D1838;
    float: left;
    padding-left: 20px;
}

#footer-cont {
    font-family: 'Anton', serif;
    font-size: 12px;
    color: #1D1838;
    align-items: center;
}

#footer-rrss {
    font-family: 'Anton', serif;
    font-size: 12px;
    color: #1D1838;
    float: right;
    padding-right: 20px;

}