#footer{
    height: 15vh;
    background-color: #98C5E9;
    
    #footer-home {
        padding-top: 1.6vh;
        font-family: 'Anton', serif;
        font-size: 12px;
        color: #1D1838;
    
    
 }

    #footer-rrss {
        padding-top: 1.6vh; 
        

    }

    #footer-text {
        padding-top: 1.6vh;
        font-family: 'Anton', serif;
        font-size: 12px;
        color: #1D1838;
        text-align: center; 

    }

    #rrss-logos {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 80%;
    }


}



