#header {
    height: 18vh;
    padding-top: 1.6vh;
    padding-bottom: 1.6vh;
    background-color: #98C5E9;
    color: #1D1838;
        
        nav {
                padding-top: 1.6vh;
                background-color: #98C5E9;
                color: #1D1838;
        }

        #logo-header {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            width: 60px;
            
            
            
        }

}



#back-color-btn-nav {
    background-color: #98C5E9!important;    
    
    #back-color-btn-div {
        font-family: 'Anton', serif;
        background: #98C5E9;
       
    }
    
    #back-color-btn-search {
        font-family: 'Anton', serif;
        color:white;
        border-color: white;
       
    }
    
}


