#main{
    height: 800px;
    padding-top: 1.6vh;
    

        section{
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        
        }
        
        article{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 400px;
            
        
        }

 }

 #banner-previa {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 60%;
}

#banner-fixture {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 60%;
}

#youtube-main {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 180%;
}




